
@if (ViewData != null)
{
    <h2>@TempData["success"]</h2>
}

<body style="background-color: rgb(255, 255, 255);">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] AirtimeApp</title>

    </head>
    <div class="container">
        <div class="row justify-content-center">
            <div class=" card col-md-6">
                <div class="card-body " style="background-color: rgb(252, 249, 249);">
                    <div class="bg-light">
                        <h1 class="tagcolor" style="color:rgb(197, 148, 148)">CreateCard</h1>
                        <hr class="tagcolor" style="color:rgb(197, 148, 148)">
                    </div>
                    <form asp-action="CreateCard">
                       
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Newtwork</label>
                                <input class="form-control" name="NetworkName" />
                            </div>

                            <div class="form-group col-sm-6">
                                <label class="control-label">Price</label>
                                <input class="form-control" name="CategoryPrice" />
                            </div><br>

                            <div class="form-group ">
                                <input  style="border-radius: 50px;" href="#myModal" type="submit" value="Create Card"
                                    class="btn btn-success trigger-btn col-sm-12" data-toggle="modal" />
                            </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}