@model HarnyCardApplication.Dtos.UserDto

<hr>
<div>
    <h5>Customer Profile</h5>
    <dt>
        <h4>@Html.DisplayNameFor(model => model.FirstName)</h4>
    </dt>
    <dd>
        <h4>
            <h4>@Html.DisplayNameFor(model => model.LastName)</h4>
        </h4>
    </dd>
    <dt>
        <h4>@Html.DisplayNameFor(model=> model.Email)</h4>
    </dt>
    <dd>
        <h4>@Html.DisplayNameFor(model => model.PhoneNumber)</h4>
    </dd>
</div>