@model HarnyCardApplication.Dtos.CreateRoleRequestModel

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreateRole</title>
    <style>
        .container {
            width: 400px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            background-color: #f5f5f5;
        }

        h1 {
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="password"] {
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: none;
        }

        button[type="submit"] {
            padding: 10px;
            border-radius: 5px;
            border: none;
            background-color: #50769e;
            color: #fff;
            cursor: pointer;
        }

        button:hover {
            background-color: #587cb5;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Create Role</h1>
        <form asp-action="CreateRole">
            <label asp-for="Name">Name:</label>
            <input asp-for="Name" id="username" name="Name" placeholder="Enter your role name" required>
            <label asp-for="Description">Description:</label>
            <input asp-for="Description" id="description" name="Description" placeholder="Enter description" required>
            <button type="submit" value="submit">Create Role</button>
        </form>
    </div>
</body>

</html>