@model HarnyCardApplication.Dtos.CreateRoleRequestModel

<div>
    <h6>Role Profile</h6>

    <hr />
    <dl>
        <dt>
            <h4>@Html.DisplayNameFor(model => model.Name)</h4>
        </dt>
        <dd>
            <h4>@Html.DisplayFor(model => model.Name) </h4>
        </dd>
        <dt>
            <h4>@Html.DisplayNameFor(model => model.Description)</h4>
        </dt>
        <dd>
            <h4>@Html.DisplayFor(model => model.Description) </h4>
        </dd>
    </dl>
</div>